body,html
{
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.contact
{

box-shadow: 5px 5px 7px rgb(94, 109, 66);
}

.login, .registre
{
   box-shadow: 5px 5px 7px rgb(94, 109, 66);
   text-align: center;

}

.title, label
{
    font-weight: bold;
    font-style: inherit;
}